@font-face {
    font-family: 'SFMono';
    src: url('SFMono-Medium.woff2') format('woff2'),
        url('SFMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

